{% extends 'base.html.twig' %}

{% block header %}
    <h1><i class="bi bi-files"></i> Files</h1>
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th class="text-center">Path</th>
                <th class="text-center">Book</th>
                <th class="text-end">Size</th>
                <th class="text-center">Status</th>
                <th class="text-end">Created At</th>
            </tr>
            </thead>
            <tbody>
            {% if files|length > 0 %}
                {% for file in files %}
                    <tr>
                        <td>
                            {% if file.book is null %}
                                <a href="{{ path('createBookFromFile', {fileID: file.id}) }}">{{ file.id }}</a>
                            {% else %}
                                {{ file.id }}
                            {% endif %}
                        </td>
                        <td class="text-center">{{ file.paths.count }}</td>
                        <td class="text-center">
                            {% if file.book is null %}
                                <i class="bi bi-x"></i>
                            {% else %}
                                <i class="bi bi-book"></i>
                            {% endif %}
                        </td>
                        <td class="text-end">{{ file.size }}</td>
                        <td class="text-center">{{ file.status.value }}</td>
                        <td class="text-end">{{ file.createdAt }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" class="pt-5 pb-5 text-center">
                        <div class="row justify-content-center">
                            <div class="col-5 alert alert-warning" role="alert">
                                <p class="mb-0">
                                    <strong>Nothing to show</strong>
                                </p>
                                {% if page > 1 %}
                                    <p class="mt-1 mb-0">The page is empty <a href="?page=1">go to first page?</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center">
        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link {{ page > 1 ? '' : 'disabled' }}" href="?page={{ page - 1 }}">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link {{ hasNextPage ? '' : 'disabled' }}" href="?page={{ page + 1 }}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
