{% extends 'base.html.twig' %}

{% block header %}
    <h1><i class="bi bi-book"></i> Create book</h1>
{% endblock %}

{% block body %}
    <form method="post" data-controller="bookCreateFromFile" action="{{ path('saveBook') }}">
        <input type="hidden" name="fileID" value="{{ file.ID }}">

        <div class="row">
            <div class="col-8">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input
                                    type="text"
                                    name="title"
                                    class="form-control"
                                    id="title"
                                    placeholder="Clue of the Burnt Staircase"
                                    required/>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="isbn">ISBN</label>
                            <input type="text"
                                   name="isbn"
                                   class="form-control"
                                   id="isbn"
                                   placeholder="818-2-93701-100-7"
                                   required/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="language">Language</label>
                            <select name="language" class="form-control" id="language" required>
                                <option value="{{ constant('App\\Enum\\Book\\Language::RUS').value }}">
                                    {{ constant('App\\Enum\\Book\\Language::RUS').name }}
                                </option>
                                <option value="{{ constant('App\\Enum\\Book\\Language::ENG').value }}">
                                    {{ constant('App\\Enum\\Book\\Language::ENG').name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-9">
                        <div class="form-group">
                            <label for="series">Series</label>
                            <input
                                    type="text"
                                    name="series"
                                    class="form-control"
                                    id="series"
                                    placeholder="Great novels of Caribbean"/>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="year">Year</label>
                            <input
                                    type="text"
                                    name="year"
                                    class="form-control"
                                    id="year"
                                    placeholder="1987"/>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="publisher">Publisher</label>
                            <input
                                    type="text"
                                    name="publisher"
                                    class="form-control"
                                    id="publisher"
                                    placeholder="Booklab"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="edition">Edition</label>
                            <input
                                    type="text"
                                    name="edition"
                                    class="form-control"
                                    id="edition"
                                    placeholder="Second extended edition"/>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 author-row">
                    <div class="col-11">
                        <div class="form-group">
                            <label for="author">Authors</label>
                            <input type="text"
                                   name="authors[]"
                                   class="form-control"
                                   id="author"
                                   placeholder="Stevie Holmes"
                                   required/>
                        </div>
                        <div class="form-text text-end">
                            <a href class="link-primary add-author">Add author</a>
                        </div>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-link remove-author" type="button" formaction="remove">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i> Save</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img
                        class="mt-4 image-thumbnail"
                        src="{{ path('bookThumbnailProxy', {'id': file.paths[0].id}) }}"
                        alt="{{ file.paths[0].path }}.png">
            </div>
        </div>
    </form>
    <hr/>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>Paths</label>
                {% for i, filePath in paths %}
                    <div class="row">
                        <div class="col-11">
                            <p class="text-truncate">
                                <a href="{{ path('bookProxy', {'id': filePath.id}) }}"
                                   target="_blank">
                                    {{ filePath.path }}
                                </a>
                            </p>
                        </div>
                        <div class="col-1">
                            <form action="{{ path('deletePathByID') }}" method="post">
                                <input type="hidden" name="pathID" value="{{ filePath.id }}">
                                {% if i > 0 %}
                                    <button
                                            class="btn pt-0 pb-0 btn-link"
                                            type="submit"
                                            style="margin-top: -.25rem">
                                        <i class="bi bi-x-circle"></i>
                                    </button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
