@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons";

body {
    background: center fixed no-repeat url("../images/negative-space-colorful-bokeh-abstract-17.jpg");
}

body > main {
    margin-top: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #ffffff;
    box-shadow: 0 0 30px 7px rgba(100, 20, 20, .25);
}

body > nav {
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, .25);
    backdrop-filter: blur(4px);
}

.author-row .add-author {
    display: none;
}

:nth-last-child(1 of .author-row) .add-author {
    display: block;
}

:nth-child(1 of .author-row) .remove-author {
    display: none;
}

.author-row + .author-row label[for="author"] {
    display: none;
}

main.container h1 > i {
    margin-right: .5rem;
}

.image-thumbnail {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .25);
}
