<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home library{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md fixed-top bg-opacity-75 bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Home library</a>
    </div>
</nav>
<main class="container">
    {% block header %}{% endblock %}
    <hr>
    {% block body %}{% endblock %}
</main>
</body>
</html>
